body { font-family: sans-serif; margin: 10px auto; }
.mail { border: thick green solid; padding: 1em; display: inline-block; margin: 1em; border-radius: 6px; }
.uid { float: right; font-size: 1.5em;}
li a:hover {color: white; background-color: black}
li a:link {text-decoration: none;}
li { list-style: none; margin-left: 2.3em;}
.thread1 { color: darkgreen }
.threadconv { color: red }
